.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: left;
  font-family: "Sansita";
  font-size: 30px
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.main{
  padding: 80px 30px 80px
}

body {
    font-family: 'Work Sans', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 20px 20px 60px;
    /* max-width: 680px; */
    margin: 0 auto;
    background-color: #E5E5E5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
  flex: 0 1 24%;
} */

.img-card {
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
}


.recipe-filter{
  /* text-align: center; */
  padding: 1.5em;
}
  
.show-card{
  text-align: center;
}

.navbar{
  display:flex; 
  flex-direction:row;
  text-align: center;
}


